<%
fields_for :path do |f|
%><table cellspacing="0"><tbody>
<tr><th><label for="path_sitepath">Sitepath:</label></th>
	<td><%= f.text_field :sitepath, :size=>32, :class=>'fixed' %>
	<br />This set the web-link url for this redirect
	(e.g., “http://website<b>/subpath</b>”).
	<br />Be sure to include a leading ‘/’.
	<br />Only the following characters may be used, no spaces: <b>A-Z a-z 0-9 - _ /</b></td></tr>
<tr class="alternate"><th><label for="path_redirect">Redirect To:</label></th>
	<td><%= f.text_field :redirect %>
		<br />Must be a complete URL (starts with ‘http://’) or a root-relative URL for this website (starts with ‘/’).</td></tr>
</tbody>
<tfoot><tr><td></td><td><%= submit_tag "Save", :disable_with=>"Saving…" %></td></tr></tfoot>
</table>
<% end %>