<div class="steps">
<h1>New Redirect Path</h1>
<%= error_messages_for :path %>
<div class="step_form">
<% form_for(:path, :url=>paths_path) do |f|
	%><%= render :partial=>'form' %>
<% end -%>
</div>
</div>
<%= render :partial=>'standard'%>