<h1><%= h @group.name %></h1>
<div class="steps">
<h2><img src="/icon/edit_24.png" width="24" height="24" alt=" " class="icon" />
Edit Membership for <%= h @membership.user.nickname %></h2>
<% #= error_messages_for :membership 
%>
<div class="step_form">
<% form_for(:membership, :url=>group_membership_path(@group, @membership), :html=>{:method=>:put}) do |f|
	%><%= render :partial=>'form' %>
<% end -%>
</div>
</div>
<%= render :partial=>'standard'%>