<h1>Login: Sign in to your account</h1>

<% form_tag session_path do -%>
<p><label for="email">Email or Login</label><br/>
<%= text_field_tag 'email' %></p>
<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
<p><%= submit_tag 'Sign in', :disable_with=>"Signing in…" %></p>
<% end -%>

<% if WAYGROUND['ALLOW_SIGNUP']
	%><h2>Not Registered?</h2>
<p><a href="/signup">Please signup</a>.</p>
<% end %>