/* Styles shared across layouts */

/* change ‘x’ to ‘*’ to have all page elements outlined in dotted red border */
x{outline:1px dotted red;}

body, #bodycontainer{margin:0em; padding:0em;}
body, p, select, td, th, blockquote, li{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size:11px;}

a:link{background-color:transparent; color:#005659;}
a:visited{background-color:transparent; color:#44004C;}
a:link:hover{background-color:#FFECB5; color:#00858A; text-decoration:none;}
a:visited:hover{background-color:#FFECB5; color:#6E0A78; text-decoration:none;}
a:link:active, a:visited:active{color:red;}

a.button{font-size:110%; font-weight:bold; padding:2px 4px; min-height:20px; vertical-align:middle;}
a:link.button, a:visited.button{text-decoration:none;}
a:link.button img, a:visited.button img, a:link:hover.button img, a:visited:hover.button img, a:link:active.button img, a:visited:active.button img, a:link.button img.icon, a:visited.button img.icon, a:link:hover.button img.icon, a:visited:hover.button img.icon, a:link:active.button img.icon, a:visited:active.button img.icon{border-color:transparent; outline:0px none;}

h1, h2, h3, h4, h5, h6{margin:0em; padding:0em;}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6{margin-top:0.5em;}
h2 + h3{margin-top:0.5em;}
h1{font-size:18px;}
h2{font-size:15px;}
h3{font-size:13px;}
h4, h5{font-size:11px;}
h1 + ul{margin-top:1em;}
h2 + div{margin-top:0.5em;}
p, ul{margin-top:0em;}
p + p{margin-top:0.5em;}
ul{padding:0em 0em 0em 1.5em;}

/* IMAGES */
img.avatar{border:0px none; max-width:80px; max-height:80px;}
img.avatar[align=left]{margin-right:8px;}
img.avatar[align=right]{margin-left:8px;}
img.diricon{border:0px none;}
a:link:hover img.diricon, a:visited:hover img.diricon{background:transparent url('../icon/hover.png') no-repeat center center;}
a:link:active img.diricon, a:visited:active img.diricon{background:transparent url('../icon/active.png') no-repeat center center;}
img.photo{border:1px solid #333;}
img.photo[align=right]{margin-left:1em;}
img.photo[align=left]{margin-right:1em;}
img.button, a img.button{border:1px outset #999;}
a:link img.button{border:1px outset #00F;}
a:visited img.button{border:1px outset #909;}
a:link:hover img.button, a:visited:hover img.button{border:1px outset #99F;}
a:link:active img.button, a:visited:active img.button{border:1px inset #F99;}
a:link img.icon, a:visited img.icon{border:1px solid transparent;}
a:link:hover img.icon{background-color:#FFECB5; border-color:#00858A;}
a:visited:hover img.icon{background-color:#FFECB5; border-color:#6E0A78;}
a:link:active img.icon, a:visited:active img.icon{border-color:red;}
.picture-box{display:inline; float:right; margin:0em; padding:0.5em 0em 0.5em 1em; font-size:90%;}
.picture-box > *{display:block; max-width:258px;}
.picture-box > * + *{margin-top:0.5em;}

/* TABLES */
table{background:#FFF; color:#000; border:1px solid #CCC; margin-top:0.5em; padding:0em;}
table, tr{vertical-align:top;}
tr[valign=bottom]{vertical-align:bottom;}
thead > tr > th, tr.inforow > th, tr.inforow > td{background:#CCC url("/images/bg-header-info.gif") repeat-x left top; color:#000; border-left:1px solid #CCC; padding:0em 0.5em;}
tr.inforow > th, tr.inforow > td{border-top:1px solid #666; text-align:left;}
thead > tr > th:first-child{border-left:0px none;}
thead > tr > th > h3{font-size:150%;}
/*
thead + tbody > tr:first-child > td,
thead + tbody > tr:first-child > th{border-top:1px solid #CCC;}
tbody > tr > td, tbody > tr > th{border-top:1px solid #DDD;}
.rowgroup, .rowgroup > tr:first-child > th,
.rowgroup > tr:first-child > td{border-top:1px solid #AAA;}
*/
.alternate, tr.alternate, th.alternate, td.alternate{background:#ecf2fe; color:#000;}
tr.new, th.new, td.new{background:#FFFFDD; color:#000;}
td, th{margin:0em; padding:3px;}
td + td, td + th, th + td, th + td{border-left:1px solid #CCC;}
th > h1, th > h2, th > h3, th > h4{margin:0em;}
tfoot, tfoot > tr:first-child,
tfoot > tr:first-child > td, tfoot > tr:first-child > th{border-top:1px solid #CCC;}
tfoot td, tfoot th{background:#EEE; color:#000; border-left:0px none;}
.layout, table.layout, table.layout > tr, table.layout > tr > td,
table.layout > tbody > tr, table.layout > tbody > tr > td{border:0px none;}
td > *:first-child{margin-top:0em;}
td.column{padding-left:0.5em; padding-right:0.5em;}

.current_sort{vertical-align:middle; white-space:nowrap;}
.number_col{text-align:right;}
.center_col{text-align:center;}

/* FORMS */
form{margin:0em; padding:0em;}
label{font-weight:bold;}
p form, p > form, p > div, p form div, p form > div, p > form div, p > form > div{display:inline; margin:0em;}
form > table{border:1px solid #CCC;}
form > table > thead{background:#CCC url("/images/bg-header-info.gif") repeat-x left top; color:#000; text-shadow:#FFF 2px 2px 0px;}
form > table > tbody > tr.alternate, form > table > tbody .alternate{background:#EEE; color:#000;}
form > table > tbody > tr > th, form > table > tbody > tr > td{border-top:1px solid #DDD;}
form table > tbody > tr > th:first-child{text-align:right;}
form table > tbody > tr > th h2, form table > tbody > tr > th p{text-align:left;}
form table > tbody > tr > th p{font-weight:normal;}
td input[type=text], td textarea{width:97%;}
td input.fixed, td input.fixed[type=text], td textarea.fixed{width:auto;}
form > table > tfoot{background:#CCC; color:#000;}
input{font-size:11px; font-family:verdana, geneva, sans-serif; margin:1px; vertical-align:middle;}
form.inline, input.inline{display:inline; margin:0em; padding:0em;}
form.inline *, form.inline input{display:inline;}

/* MISC */
.nowrap{white-space:nowrap;}
.cue, .separator{display:none;}
p.indent{margin-left:2em;}
.hilite{background:yellow; color:black;}
.smallprint{font-size:85%;}
.more_link{text-align:right;}
.bigger{font-size:110%;}
.overflow{overflow:scroll;}
.flat-left{float:left;}
.flat-right{float:right;}
.warning{background:transparent url('/icon/warning.png') no-repeat top left; padding-left:20px;}

/* DIRECTORY */
ul.dir, ul.dir ul{list-style:none outside url('../icon/item.png'); padding-left:24px;}
ul.dir ul{padding-left:44px;}
ul.dir li{vertical-align:middle; margin-top:4px; padding:0px 0px;}
ul.dir li > *{vertical-align:middle;}
ul.dir li.alternate{background:transparent;}
ul.dir > li img, ul.dir ul > li img{margin-left:0px; vertical-align:middle;}
ul.dir > li * + img, ul.dir ul > li * + img, ul.dir > li * + a > img, ul.dir ul > li * + a > img{margin-left:4px;}
ul.dir li .tight img{margin-left:0px;}
li.dir-root{list-style-image:url('../icon/root.png');}
a.dir-root:before{content:url('../icon/root.png'); padding-right:0px;}
li.dir-article{list-style-image:url('../icon/article.png');}
a.dir-article:before{content:url('../icon/article.png'); padding-right:0px;}
li.dir-document{list-style-image:url('../icon/document.png');}
a.dir-document:before{content:url('../icon/document.png'); padding-right:0px;}
li.dir-event{list-style-image:url('../icon/event.png');}
a.dir-event:before{content:url('../icon/event.png'); padding-right:0px;}
li.dir-folder{list-style-image:url('../icon/folder.png');}
li.dir-image{list-style-image:url('../icon/image.png');}
li.dir-item{list-style-image:url('../icon/item.png');}
a.dir-item:before{content:url('../icon/item.png'); padding-right:0px;}
li.dir-page{list-style-image:url('../icon/page.png');}
a.dir-page:before{content:url('../icon/page.png'); padding-right:0px;}
li.dir-weblink{list-style-image:url('../icon/weblink.png');}
li.dir-redirect{list-style-image:url('../icon/redirect.png');}
ul.dir a, ul.dir a:link, ul.dir a:visited, ul.dir a:link:hover, ul.dir a:visited:hover, ul.dir a:link:active, ul.dir a:visited:active{border:0px none; text-decoration:none;}

/* STEPS */
.steps{border:1px solid #DEEDBD; margin:0px auto; padding:14px; -moz-border-radius:12px; -webkit-border-radius:12px;}
p + .steps{margin-top:1em;}
.steps h1, .steps h2, .steps h3{background:transparent; color:#456600;}
.steps > h1, .steps > h2{margin:0px 0px 14px;}
.step_sections{margin:0px 0px 2px; padding:0px;}
.step_label{/*background:#bfe0e1; color:#005659;*/ background:#DDD; color:#666; border:1px solid #DEEDBD; border-bottom:0px none; display:inline; padding:2px 4px; margin:0px 4px; white-space:nowrap;}
.step_current{background:#DEEDBD; color:black; font-weight:bold; border-color:#BEDC7F; -moz-border-radius-topleft:6px; -moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px;}
.step_form{border:1px solid #BEDC7F; margin:0px auto; padding:0px;}
.step_form > .errorExplanation, .step_form > #errorExplanation{margin:14px;}
.step_form > form, .step_form > * + form, .step_form /*> form*/ table{margin:0px; width:100%;}
.step_form > form, .step_form table, .step_form table > tbody > tr > td, .step_form table > tbody > tr > th{border:0px none;}
.step_form tbody > tr > th:first-child{text-align:right; border-right:1px solid #DEEDBD;}
.step_form table > tbody > tr + tr, .step_form table > tbody > tr + tr > th, .step_form table > tbody > tr + tr > td{border-top:1px solid #DEEDBD;}
.step_form /*> form > */ table tr.alternate{background:#E8EEDA; color:inherit;}
.step_form /*> form > */ table > tfoot, .step_form /*> form > */ table > tfoot th, .step_form /*> form > */ table > tfoot td{background:#DEEDBD; color:inherit; border-top-color:#BEDC7F;}
.step_form + .step_sections{margin-top:14px;}
.step_form table > thead > tr > th, .step_form table > * > tr.inforow > th{background:#DEEDBD; color:#456600; border-top:1px solid #BEDC7F; border-bottom:1px solid #BEDC7F; text-align:left; padding:0.3em 0.5em;}
.step_form table > * > tr.disabled, .step_form table > * > tr.disabled > th, .step_form table > * > tr.disabled > td{background:#DDD; color:#666;}
.step_form > form > h2{background:#BEDC7F; padding:8px 8px 2px; margin:0em; font-size:175%;}
.step_form > form > h2 + *{margin-top:0em;}
.step_form > form > h3{padding:8px 8px 2px; margin:0em; font-size:150%;}

/* Events, Schedules, Locations */
.event-schedule > p, .location, .event-schedule-info{display:list-item; margin:0em 0em 0em 28px; vertical-align:top;}
.event-schedule{margin:1em 0em; background:#EEE; color:black; border-left:2px solid #CCC; padding:4px;}
.event-schedule p:first-child{list-style-image:url('../icon/schedule.png');}
.location{list-style-image:url('../icon/location.png');}
.event-schedule-info{list-style-image:url('../icon/note.png');}
.dtstart, .dtend{border-bottom:0px none; font-size:120%; font-weight:bold; white-space:nowrap;}
li.vevent .summary{font-size:120%;}
li.vevent a.summary{border-bottom:1px dotted blue;}
li.vevent a.summary:hover{border-bottom:1px dotted transparent;}

/***  Copied from scaffold.css:  ****************************/
#errorExplanation, .errorExplanation{width:400px; border:2px solid red; padding:7px 7px 12px 7px; margin-bottom:20px; background:#f0f0f0;}
#errorExplanation h2, .errorExplanation h2{text-align:left; font-weight:bold; padding:5px 5px 5px 15px; font-size:12px; margin:-7px -7px 0px -7px; background:#c00; color:#fff;}
#errorExplanation p, .errorExplanation p{color:#333; margin-bottom:0px; padding:5px;}
#errorExplanation > ul li, .errorExplanation > ul li{font-size:12px; list-style:square;}
div.uploadStatus{margin:5px;}
div.progressBar{margin:5px;}
div.progressBar div.border{background:#fff; border:1px solid gray; width:100%;}
div.progressBar div.background{background:#333; height:18px; width:0%;}
/* SCAFFOLD FIXES */
p + .errorExplanation{margin-top:0.5em;}
.fieldWithErrors{display:inline;}
.fieldWithErrors > *{outline:2px solid red;}

/* PAGINATION */
.pagination{padding:3px; margin:3px;}
.pagination a{padding:2px 5px 2px 5px; margin:2px; border:1px solid #aad; text-decoration:none; color:#009;}
.pagination a:hover, .pagination a:active{border:1px solid #009; color:#000;}
.pagination span.current{padding:2px 5px; margin:2px; border:1px solid #009; font-weight:bold; background-color:#009; color:#FFF;}
.pagination span.disabled{padding:2px 5px; margin:2px; border:1px solid #eee; color:#ddd;}
