/* change ‘x’ to ‘*’ to have all page elements outlined in dotted red border */
x{outline:1px dotted red;}

body, #bodycontainer{margin:0em; padding:0em;}
body, p, select, td, th, blockquote, li{font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size:11px;}

a:link{background-color:transparent; color:#005659;}
a:visited{background-color:transparent; color:#44004C;}
a:link:hover{background-color:#FFECB5; color:#00858A; text-decoration:none;}
a:visited:hover{background-color:#FFECB5; color:#6E0A78; text-decoration:none;}
a:link:active, a:visited:active{color:red;}

h1, h2, h3, h4, h5, h6{background:transparent; color:#593B00; margin:0em; padding:0em;}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6{margin-top:0.5em;}
h2 + h3{margin-top:0.5em;}
h1{font-size:18px;}
h2{font-size:15px;}
h3{font-size:13px;}
h4, h5{font-size:11px;}
h2 + div{margin-top:0.5em;}
p, ul{margin-top:0em;}
p + p{margin-top:0.5em;}
ul{padding:0em 0em 0em 1.5em;}

/* IMAGES */
img.avatar{border:0px none; max-width:80px; max-height:80px;}
img.avatar[align=left]{margin-right:8px;}
img.avatar[align=right]{margin-left:8px;}
img.diricon{border:0px none;}
a:link:hover img.diricon, a:visited:hover img.diricon{background:transparent url('../icon/hover.png') no-repeat center center;}
a:link:active img.diricon, a:visited:active img.diricon{background:transparent url('../icon/active.png') no-repeat center center;}
img.photo{border:1px solid #333;}
img.photo[align=right]{margin-left:1em;}
img.photo[align=left]{margin-right:1em;}
img.button, a img.button{border:1px outset #999;}
a:link img.button{border:1px outset #00F;}
a:visited img.button{border:1px outset #909;}
a:link:hover img.button, a:visited:hover img.button{border:1px outset #99F;}
a:link:active img.button, a:visited:active img.button{border:1px inset #F99;}
a:link img.icon, a:visited img.icon{border:1px solid transparent;}
a:link:hover img.icon{background-color:#FFECB5; border-color:#00858A;}
a:visited:hover img.icon{background-color:#FFECB5; border-color:#6E0A78;}
a:link:active img.icon, a:visited:active img.icon{border-color:red;}
.picture-box{display:inline; float:right; margin:0em; padding:0.5em 0em 0.5em 1em; font-size:90%;}
.picture-box > *{display:block; max-width:258px;}
.picture-box > * + *{margin-top:0.5em;}

/* TABLES */
table{background:#FFF; color:#000; border:1px solid #CCC; margin-top:0.5em; padding:0em;}
table, tr{vertical-align:top;}
tr[valign=bottom]{vertical-align:bottom;}
thead > tr > th, tr.inforow > th, tr.inforow > td{background:#CCC url("/images/bg-header-info.gif") repeat-x left top; color:#000; border-left:1px solid #CCC; padding:0em 0.5em;}
tr.inforow > th, tr.inforow > td{border-top:1px solid #666; text-align:left;}
thead > tr > th:first-child{border-left:0px none;}
/*
thead + tbody > tr:first-child > td,
thead + tbody > tr:first-child > th{border-top:1px solid #CCC;}
tbody > tr > td, tbody > tr > th{border-top:1px solid #DDD;}
.rowgroup, .rowgroup > tr:first-child > th,
.rowgroup > tr:first-child > td{border-top:1px solid #AAA;}
*/
.alternate, tr.alternate, th.alternate, td.alternate{background:#ecf2fe; color:#000;}
tr.new, th.new, td.new{background:#FFFFDD; color:#000;}
td, th{margin:0em; padding:3px;}
td + td, td + th, th + td, th + td{border-left:1px solid #CCC;}
th > h1, th > h2, th > h3, th > h4{margin:0em;}
tfoot, tfoot > tr:first-child,
tfoot > tr:first-child > td, tfoot > tr:first-child > th{border-top:1px solid #CCC;}
tfoot td, tfoot th{background:#EEE; color:#000; border-left:0px none;}
.layout, table.layout, table.layout > tr, table.layout > tr > td,
table.layout > tbody > tr, table.layout > tbody > tr > td{border:0px none;}
td > *:first-child{margin-top:0em;}

.current_sort{vertical-align:middle; white-space:nowrap;}
.number_col{text-align:right;}
.center_col{text-align:center;}

/* FORMS */
form{margin:0em; padding:0em;}
label{font-weight:bold;}
p form, p > form, p > div, p form div, p form > div, p > form div, p > form > div{display:inline; margin:0em;}
form > table{border:1px solid #CCC;}
form > table > thead{background:#CCC url("/images/bg-header-info.gif") repeat-x left top; color:#000; text-shadow:#FFF 2px 2px 0px;}
form > table > tbody > tr.alternate, form > table > tbody .alternate{background:#EEE; color:#000;}
form > table > tbody > tr > th, form > table > tbody > tr > td{border-top:1px solid #DDD;}
form table > tbody > tr > th:first-child{text-align:right;}
form table > tbody > tr > th h2, form table > tbody > tr > th p{text-align:left;}
form table > tbody > tr > th p{font-weight:normal;}
td input[type=text], td textarea{width:97%;}
td input.fixed, td input.fixed[type=text], td textarea.fixed{width:auto;}
form > table > tfoot{background:#CCC; color:#000;}
input{font-size:11px; font-family:verdana, geneva, sans-serif; margin:1px; vertical-align:middle;}
form.inline, input.inline{display:inline; margin:0em; padding:0em;}
form.inline *, form.inline input{display:inline;}

/* HEADER */
#header{background:#593B00 url('/images/shadow-up.png') repeat-x left bottom; color:#DCCEB2; width:100%; margin:0em; padding:0em; outline-color:yellow;}
#title{background:transparent; color:#DCCEB2; margin:0em; padding:1em 2em 0em; text-shadow:2px 2px 1px black; outline-color:black;}
#header a{text-decoration:none;}
#header a:link{background-color:transparent; color:#BFE0E1;}
#header a:visited{background-color:transparent; color:#D9BFDC;}
#header a:link:hover, #header a:visited:hover{color:#80C2C4;}
#header a:link:active, #header a:visited:active{color:red;}
#menu{padding:0em; margin:1em 2em 0em; min-height:17px; outline-color:blue;}
#menu > a{background:transparent url('/images/menu-bg-tl.png') no-repeat left top; padding:0.2em 0.5em; font-size:110%; font-weight:bold; min-height:20px; white-space:nowrap; text-shadow:2px 2px 2px black;}
#menu > a + a{margin-left:0.5em;}
.current-tab, #menu .current-tab, #menu > a.current-tab{background:white; color:black; border:1px solid black; border-bottom:0px none; text-shadow:1px 1px 2px #C36824;}

#main{background:white; color:black; margin:0em auto; padding:0em; width:760px;/* border:1px solid white;*/ text-align:center;}

#content{background:white; color:black; text-align:left; margin:0em 16px 0em 0em; padding:2em 0em; width:502px; top:0px;}
#content > h1{border-top:1px dotted #593B00; padding-top:0.5em;}
#content > h1:first-child{border-top:0px none; padding-top:0em;}
#content * + h1{margin-top:1.5em;}

.overflow{overflow:scroll;}
#content .overflow{max-width:500px;}
#sidebar .overflow{max-width:240px;}

#sidebar{background:#ECD0BA; color:black; border-bottom:1px solid #ECD0BA; text-align:left; margin:0em; padding:2em 0em; width:242px; min-height:200px; float:right; -moz-border-radius:8px; -webkit-border-radius:8px;}/*top:0px; right:0px; position:relative;}*/
.sidebar-section, #sidebar > .sidebar-section{margin:0em; padding:0em;}
#sidebar > .sidebar-section:first-child{margin-top:0em;}
.sidebar-section + .sidebar-section, #sidebar > .sidebar-section + .sidebar-section{/*border-top:1px solid #999;*/ margin:8px 0px 0px;}
#sidebar > *, .sidebar-section > *{margin-left:16px; margin-right:16px;}
#sidebar > *:first-child, .sidebar-section:first-child > *:first-child{margin-top:0em;}
#sidebar > h1, .sidebar-section > h1{margin:0em 0em 0.5em 0em; padding:0em 16px;}
#sidebar > h1, #sidebar > h2, .sidebar-section > h1, .sidebar-section > h2{border-top:1px solid #662B00; border-bottom:1px solid #FFECB5; margin:1.5em 0em 0em; padding:1em 1em 0.2em; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px; -webkit-border-top-left-radius:8px; -webkit-border-top-right-radius:8px;}
#sidebar > h1:first-child, #sidebar > h2:first-child, .sidebar-section:first-child > h1:first-child, .sidebar-section:first-child > h2:first-child{border-top:0px none; padding-top:0em;}
#sidebar > h2 + *, .sidebar-section > h2 + *{margin-top:0.5em;}
#sidebar h1, #sidebar h2, #sidebar h3{clear:left;}

#footer{background:#005659 url('/images/shadow-down.png') repeat-x left top; color:white; clear:both; margin:0em; padding:0em; text-align:center; width:100%;}
#footer > *{max-width:512px;}
#footer p{font-size:95%; margin:0em 4em; padding:1em 0em; text-shadow:-1px -1px 2px black;}
#footer p + p{padding-top:0.25em;}
#footer a{text-decoration:none;}
#footer a:link{background:transparent; color:#BFE0E1;}
#footer a:visited{background:transparent; color:#D9BFDC;}
#footer a:link:hover{background-color:#FFECB5; color:#00858A; text-shadow:none;}
#footer a:visited:hover{background-color:#FFECB5; color:#6E0A78; text-shadow:none;}
#footer a:link:active, #footer a:visited:active{color:red; text-shadow:none;}

/* FLASH */
#flash{background:#FFD url("/images/bg-flash.gif") repeat-x left bottom; color:#000; border:1px outset #999; margin:0px 8px 0px 0px; padding:8px; width:486px; /*max-width:777px;*/}
#flash > p{margin:0em;}
#flash > p + p{margin-top:0.5em;}
p.warning, p.error{font-weight:bold; font-size:110%;}
p.error{color:#600;}
#flash > p.warning{background:transparent url("/icon/warning_24.png") no-repeat left top; padding:0px 0px 0px 24px; min-height:24px;}
#flash > p.error{background:transparent url("/icon/error_24.png") no-repeat left top; padding:0px 0px 0px 24px; min-height:24px;}

/* MISC */
.nowrap{white-space:nowrap;}
.cue, .separator{display:none;}
p.indent{margin-left:2em;}
.hilite{background:yellow; color:black;}
.smallprint{font-size:85%;}
.more_link{text-align:right;}
.bigger{font-size:110%;}

/* STEPS */
.steps{border:1px solid #DEEDBD; margin:0px auto; padding:14px; -moz-border-radius:12px; -webkit-border-radius:12px;}
p + .steps{margin-top:1em;}
.steps h1, .steps h2{background:transparent; color:#456600;}
.steps > h1, .steps > h2{margin:0px 0px 14px;}
.step_sections{margin:0px 0px 2px; padding:0px;}
.step_label{/*background:#bfe0e1; color:#005659;*/ background:#DDD; color:#666; border:1px solid #DEEDBD; border-bottom:0px none; display:inline; padding:2px 4px; margin:0px 4px; white-space:nowrap;}
.step_current{background:#DEEDBD; color:black; font-weight:bold; border-color:#BEDC7F; -moz-border-radius-topleft:6px; -moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px;}
.step_form{border:1px solid #BEDC7F; margin:0px auto; padding:0px;}
.step_form > .errorExplanation, .step_form > #errorExplanation{margin:14px;}
.step_form > form, .step_form > * + form, .step_form /*> form*/ table{margin:0px; width:100%;}
.step_form > form, .step_form table, .step_form table > tbody > tr > td, .step_form table > tbody > tr > th{border:0px none;}
.step_form tbody > tr > th:first-child{text-align:right; border-right:1px solid #DEEDBD;}
.step_form table > tbody > tr + tr, .step_form table > tbody > tr + tr > th, .step_form table > tbody > tr + tr > td{border-top:1px solid #DEEDBD;}
.step_form /*> form > */ table tr.alternate{background:#E8EEDA; color:inherit;}
.step_form /*> form > */ table > tfoot, .step_form /*> form > */ table > tfoot th, .step_form /*> form > */ table > tfoot td{background:#DEEDBD; color:inherit; border-top-color:#BEDC7F;}
.step_form + .step_sections{margin-top:14px;}
.step_form table > thead > tr > th, .step_form table > * > tr.inforow > th{background:#DEEDBD; color:#456600; border-top:1px solid #BEDC7F; border-bottom:1px solid #BEDC7F; text-align:left;}
.step_form table > * > tr.disabled, .step_form table > * > tr.disabled > th, .step_form table > * > tr.disabled > td{background:#DDD; color:#666;}

/* DIRECTORY */
ul.dir, ul.dir ul{list-style:none outside url('../icon/item.png'); padding-left:24px;}
ul.dir li{vertical-align:top; padding:4px 0px 0px;}
ul.dir > li img, ul.dir ul > li img{margin-left:4px; vertical-align:top;}
li.dir-root{list-style-image:url('../icon/root.png');}
a.dir-root:before{content:url('../icon/root.png'); padding-right:4px;}
li.dir-article{list-style-image:url('../icon/article.png');}
li.dir-document{list-style-image:url('../icon/document.png');}
a.dir-document:before{content:url('../icon/document.png'); padding-right:4px;}
li.dir-event{list-style-image:url('../icon/event.png');}
li.dir-folder{list-style-image:url('../icon/folder.png');}
li.dir-image{list-style-image:url('../icon/image.png');}
li.dir-item{list-style-image:url('../icon/item.png');}
a.dir-item:before{content:url('../icon/item.png'); padding-right:4px;}
li.dir-page{list-style-image:url('../icon/page.png');}
a.dir-page:before{content:url('../icon/page.png'); padding-right:4px;}
li.dir-weblink{list-style-image:url('../icon/weblink.png');}
li.dir-redirect{list-style-image:url('../icon/redirect.png');}
ul.dir a, ul.dir a:link, ul.dir a:visited, ul.dir a:link:hover, ul.dir a:visited:hover, ul.dir a:link:active, ul.dir a:visited:active{border:0px none; text-decoration:none;}


/***  Copied from scaffold.css:  ****************************/
#errorExplanation, .errorExplanation{width:400px; border:2px solid red; padding:7px 7px 12px 7px; margin-bottom:20px; background:#f0f0f0;}
#errorExplanation h2, .errorExplanation h2{text-align:left; font-weight:bold; padding:5px 5px 5px 15px; font-size:12px; margin:-7px -7px 0px -7px; background:#c00; color:#fff;}
#errorExplanation p, .errorExplanation p{color:#333; margin-bottom:0px; padding:5px;}
#errorExplanation > ul li, .errorExplanation > ul li{font-size:12px; list-style:square;}
div.uploadStatus{margin:5px;}
div.progressBar{margin:5px;}
div.progressBar div.border{background:#fff; border:1px solid gray; width:100%;}
div.progressBar div.background{background:#333; height:18px; width:0%;}
/* SCAFFOLD FIXES */
p + .errorExplanation{margin-top:0.5em;}
.fieldWithErrors{display:inline;}
.fieldWithErrors > *{outline:2px solid red;}

/* PAGINATION */
.pagination{padding:3px; margin:3px;}
.pagination a{padding:2px 5px 2px 5px; margin:2px; border:1px solid #aad; text-decoration:none; color:#009;}
.pagination a:hover, .pagination a:active{border:1px solid #009; color:#000;}
.pagination span.current{padding:2px 5px; margin:2px; border:1px solid #009; font-weight:bold; background-color:#009; color:#FFF;}
.pagination span.disabled{padding:2px 5px; margin:2px; border:1px solid #eee; color:#ddd;}
