<%
# Expects:
# @user

# figure out a good way to indicate admin & staff status
-%>
<h1><%= h @user.display_name %></h1>
<% if false #••• current_user and @user.id == current_user.id
	# TODO: support the user editing their information
	%><p><%= link_to "Edit Your Account", edit_user_path(@user) %></p>
<% end
unless @user.about.blank? %>
<h3>About</h3>
<%= process_and_format @user.about, 'text/plain', (not @user.admin?) %>
<% end %>