<%
# SEARCH
render_sidebar do
	%><h2><img src="/icon/search_24.png" width="24" height="24" alt=" " class="icon" />Search Events</h2>
<%	form_tag events_path, :method=>:get do
		%><p><%= text_field_tag 'key', @key, :id=>'search_key', :size=>16,
			:title=>'Enter a keyword or keyphrase to search for' %>
<%= 	submit_tag 'Search', :name=>nil %></p>
<%	end
	%><p><a href="/events" class="button"><img src="/icon/event.png" alt=" " width="16" height="16" class="icon" align="top" />
Browse Events List</a><span class="separator">.</span></p><%
end

# ADMIN
if current_user and current_user.staff
	render_sidebar do
		%><h2>Admin</h2>
<p><a href="/events/new" class="button"><img src="/icon/new.png" width="16" height="16" alt=" " class="icon" align="top" /> New Event</a><span class="separator">.</span></p>
<%
	end
end

# LEGEND
render_sidebar do
	%><%= render :partial=>'layouts/legend' %><%
end
%>