<%
# SEARCH
render_sidebar do
	%><h2><img src="/icon/search_24.png" width="24" height="24" alt=" " class="icon" />Search Pages</h2>
<%	form_tag pages_path, :method=>:get do
		%><p><%= text_field_tag 'key', @key, :id=>'search_key', :size=>16,
			:title=>'Enter a keyword or keyphrase to search for' %>
<%= 	submit_tag 'Search', :name=>nil %><%
		#<br /><%= select_tag 'max',
		#options_for_select(
		#	[['10 per page',10],['20 per page',20],['50 per page',50]], @max),
		#:id=>'search_max'
		%></p>
<%	end
	%><p><a href="/pages">Browse pages list</a>.</p><%
end

# ADMIN
render_sidebar do
	%><h2>Admin</h2>
<p><a href="/pages/new"><img src="/icon/new.png" width="16" height="16" alt=" " class="icon" /> New Page</a>.</p>
<%
end

# LEGEND
render_sidebar do
	%><%= render :partial=>'layouts/legend' %><%
end
%>