<%
# SEARCH
render_sidebar do
	%><h2><img src="/icon/search_24.png" width="24" height="24" alt=" " class="icon" />Search Documents</h2>
<%	form_tag documents_path, :method=>:get do
		%><p><%= text_field_tag 'key', @key, :id=>'search_key', :size=>16,
			:title=>'Enter part of a filename to search for' %>
<%= 	submit_tag 'Search', :name=>nil %><%
		#<br /><%= select_tag 'max',
		#options_for_select(
		#	[['10 per page',10],['20 per page',20],['50 per page',50]], @max),
		#:id=>'search_max'
		%></p>
<%	end
	%><p><a href="/documents">Browse documents list</a>.</p><%
end

# ADMIN - UPLOAD
render_sidebar do
	%><%= render :partial=>'upload_form' %><%
end

# LEGEND
render_sidebar do
	%><h2><img src="/icon/legend_24.png" width="24" height="24" alt=" " class="icon" />Legend</h2>
<p class="legend">
<img src="/icon/image.png" width="16" height="16" alt="Image" class="diricon" title="Image" /> <b>Image/Picture</b> document.
<br /><img src="/icon/document.png" width="16" height="16" alt="Document" class="diricon" title="Document" /> <b>Downloadable</b> document.
<% #<br /><img src="/icon/public.png" width="16" height="16" alt="Public" class="diricon" title="Public" /> <b>Public</b> - anyone can access it.
%><br /><img src="/icon/private.png" width="16" height="16" alt="Private" class="diricon" title="Private" /> <b>Private</b> - admin access only.
<br /><img src="/icon/info.png" width="16" height="16" alt="Info" class="diricon" /> <b>Details</b> for the document.
<%	if current_user
		#<br /><img src="/icon/edit.png" width="16" height="16" alt="Edit" class="diricon" /> <b>Edit</b> the document.
		%><br /><img src="/icon/delete.png" width="16" height="16" alt="Delete" class="diricon" /> <b>Delete</b> the document.
<%	end
	%></p><%
end
%>