<h2><img src="/icon/legend_24.png" width="24" height="24" alt=" " class="icon" />Legend</h2>
<p class="legend">
<img src="/icon/root.png" width="16" height="16" alt="Home Page" class="diricon" title="Home" /> <b>Home Page</b>.
<br /><img src="/icon/page.png" width="16" height="16" alt="Page" class="diricon" title="Page" /> <b>Page</b>.
<br /><img src="/icon/article.png" width="16" height="16" alt="Article" class="diricon" title="Article" /> <b>Article</b>.
<br /><img src="/icon/document.png" width="16" height="16" alt="Document" class="diricon" title="Document" /> <b>Document</b> (files &amp; pictures).
<% #<br /><img src="/icon/image.png" width="16" height="16" alt="Image" class="diricon" title="Image" /> <b>Image/Picture</b>.
if current_user and current_user.staff
	%><br /><img src="/icon/redirect.png" width="16" height="16" alt="Redirect" class="diricon" title="Redirect" /> <b>Redirect link</b>.
<% end
%><br /><img src="/icon/group.png" width="16" height="16" alt="Group" class="diricon" title="Group" /> <b>Group</b>.
<br /><img src="/icon/event.png" width="16" height="16" alt="Event" class="diricon" title="Event" /> <b>Event</b>.
<br /><img src="/icon/schedule.png" width="16" height="16" alt="Schedule" class="diricon" title="Schedule" /> <b>Schedule</b>.
<br /><img src="/icon/location.png" width="16" height="16" alt="Location" class="diricon" title="Location" /> <b>Location</b>.
</p>
<h3>Actions</h3>
<p class="legend"><img src="/icon/info.png" width="16" height="16" alt="Info" class="diricon" /> <b>Details</b>.
<br /><img src="/icon/expand.png" width="16" height="16" alt="Expand" class="diricon" /> <b>Expand</b> (show contained items).
<br /><img src="/icon/new.png" width="16" height="16" alt="New" class="diricon" /> <b>New</b> or <b>Add to</b> (add a sub-item).
<br /><img src="/icon/edit.png" width="16" height="16" alt="Edit" class="diricon" /> <b>Edit</b>.
<br /><img src="/icon/list_add.png" width="16" height="16" alt="Add to List" class="diricon" /> <b>Add to List</b>.
<br /><img src="/icon/delete.png" width="16" height="16" alt="Delete" class="diricon" /> <b>Delete</b>.
</p>
